@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue--BG: hsl(217, 54%, 11%);
    --Very-dark-blue--Card: hsl(216, 50%, 16%);
    --Very-dark-blue--Line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

/* screen-reader only */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

html {
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    color: var(--White);
}

body {
    background-color: var(--Very-dark-blue--BG);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.card--container {
    display: flex;
    flex-direction: column;
    background-color: var(--Very-dark-blue--Card);
    width: 16.5rem;
    padding: 1.25rem;
    border-radius: 0.75em;
    gap: 1em;
}

.img--container {
    height: 16.75rem;

}

.card__image {
    border-radius: 0.5em;
    width: 16.5rem;
}

.card__title {
    font-size: 1.2em;
    font-weight: 600;
}

.card__description {
    color: var(--Soft-blue);
    font-weight: 300;
    line-height: 1.5em;
}

.price-time--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
}

.card__price {
    color: var(--Cyan);
    font-weight: 600;
}

.card__price::before {
    content: url('../images/icon-ethereum.svg');
    vertical-align: middle;
    margin-right: 2px;
}

.card__time {
    color: var(--Soft-blue);
}

.card__time::before {
    content: url('../images/icon-clock.svg');
    vertical-align: middle;
    margin-right: 2px;
}


.card__creator {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 1em;
    border-top: 1px solid var(--Very-dark-blue--Line);
    padding-top: 1em;
}

.creator__avatar {
    width: 1.778em;
    border: 1px solid var(--White);
    border-radius: 50%;
}

.creator__name {
    font-weight: 300;
    font-size: 0.9em;
}

.creator__name>span {
    color: var(--Soft-blue);
}

/* hover styles */

.card__title:hover,
.creator__name:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.img--container:hover::after {
    content: url("../images/icon-view.svg");
    width: 16.75rem;
    height: 16.75rem;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Cyan);
    opacity: 70%;
    transform: translate(0, -100%);
    cursor: pointer;
}
